:root{
    --color--One:#08345e;
    --color--Dos:#d1d4e6;
    --color--Tres: #a8c6ff;
    --color--Black:#000000;
    --color--Error: #f71010;
    --color--Blanco: #ffffff;
    --color--Gris: #cccccc;
    --color--GrisDos: #ececec;
}